In [8]:
import pandas as pd
from persiantools.jdatetime import JalaliDateTime as jd
import datetime as dt

In [9]:
data=pd.read_csv('result.csv')
data.head()

         ID     DATE_TIMEBOOT
0  73B59397  2022-03-14 15:21
1  B3FB3797  2022-03-14 15:22
2  73659297  2022-03-14 15:22
3  396458C2  2022-03-14 15:23
4  6CE1D55B  2022-03-14 15:23

In [17]:
date=dt.datetime.fromisoformat('2022-03-14 15:21')
print(date)
print(jd.to_jalali(date).isoformat())

2022-03-14 15:21:00
1400-12-23T15:21:00