In [1]:
import pandas as pd
from persiantools.jdatetime import JalaliDateTime as jd
import requests
import datetime as dt
import numpy as np

In [2]:
dateTimeKey='date_time'
dateKey='date'
timeKey='time'
idKey='id'
presentKey='is_in'

In [3]:
data=pd.read_csv('result.csv')
data.insert(len(data.columns), presentKey, 0)
data.head()

   index         id        date      time  is_in
0      0   Alikhani  1401-01-01  10:09:00      0
1      1   Alikhani  1401-01-01  10:13:00      0
2      2    Pazooki  1401-01-01  17:17:00      0
3      3  Aryaeifar  1401-01-01  17:18:00      0
4      4      Arast  1401-01-15  17:12:00      0

In [4]:
def getKey(row):
    return row[dateKey]+row[idKey]
userIn=[]
for i in range(len(data)):
    item=data.iloc[i]
    
    if(getKey(item) not in userIn):
        data.iat[i, data.columns.get_loc(presentKey)] =1
        userIn.append(getKey(item))
    else:
        data.iat[i, data.columns.get_loc(presentKey)] =0
        userIn.remove(getKey(item))
data.head(500)

    index         id        date      time  is_in
0       0   Alikhani  1401-01-01  10:09:00      1
1       1   Alikhani  1401-01-01  10:13:00      0
2       2    Pazooki  1401-01-01  17:17:00      1
3       3  Aryaeifar  1401-01-01  17:18:00      1
4       4      Arast  1401-01-15  17:12:00      1
5       5      Arast  1401-01-15  17:25:00      0
6       6      Arast  1401-01-15  17:19:04      1
7       7      Arast  1401-01-15  17:15:00      0
8       8  Aryaeifar  1401-01-06  17:23:00      1
9       9      Arast  1401-01-06  19:02:00      1
10     10      Arast  1401-01-06  19:02:00      0
11     11      Arast  1401-01-06  19:02:00      1
12     12    Pazooki  1401-01-06  19:06:00      1
13     13   Alikhani  1401-01-07  07:53:00      1
14     14     Javadi  1401-01-07  08:17:00      1
15     15    Hoseini  1401-01-07  08:22:00      1
16     16   AliAryai  1401-01-07  08:53:00      1
17     17  Aryaeifar  1401-01-07  09:08:00      1
18     18    Pazooki  1401-01-07  09:12:00      1
19     19      Arast  1401-01-07  09:23:00      1
20     20   Forootan  1401-01-07  10:03:00      1
21     21   Motalleb  1401-01-07  10:44:00      1
22     22   Alikhani  1401-01-07  10:45:00      0
23     23   AliAryai  1401-01-07  10:45:00      0
24     24   Motalleb  1401-01-07  11:54:00      0
25     25   Motalleb  1401-01-07  12:06:00      1
26     26   Motalleb  1401-01-07  13:28:00      0
27     27   Motalleb  1401-01-07  13:29:00      1
28     28   Motalleb  1401-01-07  14:44:00      0

In [5]:
import json
jsonData=data.to_json(orient ='records')

url = 'https://staff.hemend.com/api/attendance'
x = requests.post(url, json = {
    'data':json.loads(jsonData)
})
print(x.text)

{'data': [{'index': 0, 'id': 'Alikhani', 'date': '1401-01-01', 'time': '10:09:00', 'is_in': 1}, {'index': 1, 'id': 'Alikhani', 'date': '1401-01-01', 'time': '10:13:00', 'is_in': 0}, {'index': 2, 'id': 'Pazooki', 'date': '1401-01-01', 'time': '17:17:00', 'is_in': 1}, {'index': 3, 'id': 'Aryaeifar', 'date': '1401-01-01', 'time': '17:18:00', 'is_in': 1}, {'index': 4, 'id': 'Arast', 'date': '1401-01-15', 'time': '17:12:00', 'is_in': 1}, {'index': 5, 'id': 'Arast', 'date': '1401-01-15', 'time': '17:25:00', 'is_in': 0}, {'index': 6, 'id': 'Arast', 'date': '1401-01-15', 'time': '17:19:04', 'is_in': 1}, {'index': 7, 'id': 'Arast', 'date': '1401-01-15', 'time': '17:15:00', 'is_in': 0}, {'index': 8, 'id': 'Aryaeifar', 'date': '1401-01-06', 'time': '17:23:00', 'is_in': 1}, {'index': 9, 'id': 'Arast', 'date': '1401-01-06', 'time': '19:02:00', 'is_in': 1}, {'index': 10, 'id': 'Arast', 'date': '1401-01-06', 'time': '19:02:00', 'is_in': 0}, {'index': 11, 'id': 'Arast', 'date': '1401-01-06', 'time': '19:02:00', 'is_in': 1}, {'index': 12, 'id': 'Pazooki', 'date': '1401-01-06', 'time': '19:06:00', 'is_in': 1}, {'index': 13, 'id': 'Alikhani', 'date': '1401-01-07', 'time': '07:53:00', 'is_in': 1}, {'index': 14, 'id': 'Javadi', 'date': '1401-01-07', 'time': '08:17:00', 'is_in': 1}, {'index': 15, 'id': 'Hoseini', 'date': '1401-01-07', 'time': '08:22:00', 'is_in': 1}, {'index': 16, 'id': 'AliAryai', 'date': '1401-01-07', 'time': '08:53:00', 'is_in': 1}, {'index': 17, 'id': 'Aryaeifar', 'date': '1401-01-07', 'time': '09:08:00', 'is_in': 1}, {'index': 18, 'id': 'Pazooki', 'date': '1401-01-07', 'time': '09:12:00', 'is_in': 1}, {'index': 19, 'id': 'Arast', 'date': '1401-01-07', 'time': '09:23:00', 'is_in': 1}, {'index': 20, 'id': 'Forootan', 'date': '1401-01-07', 'time': '10:03:00', 'is_in': 1}, {'index': 21, 'id': 'Motalleb', 'date': '1401-01-07', 'time': '10:44:00', 'is_in': 1}, {'index': 22, 'id': 'Alikhani', 'date': '1401-01-07', 'time': '10:45:00', 'is_in': 0}, {'index': 23, 'id': 'AliAryai', 'date': '1401-01-07', 'time': '10:45:00', 'is_in': 0}, {'index': 24, 'id': 'Motalleb', 'date': '1401-01-07', 'time': '11:54:00', 'is_in': 0}, {'index': 25, 'id': 'Motalleb', 'date': '1401-01-07', 'time': '12:06:00', 'is_in': 1}, {'index': 26, 'id': 'Motalleb', 'date': '1401-01-07', 'time': '13:28:00', 'is_in': 0}, {'index': 27, 'id': 'Motalleb', 'date': '1401-01-07', 'time': '13:29:00', 'is_in': 1}, {'index': 28, 'id': 'Motalleb', 'date': '1401-01-07', 'time': '14:44:00', 'is_in': 0}]}

{"status_code":"OK"}